parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - ./phpstan-bootstrap.php
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        -
            message: '#Function mcrypt_encrypt not found\.#'
            path: ./src/Zend/Service/ReCaptcha/MailHide.php
            count: 1
        -
            identifier: missingType.iterableValue
